{% extends 'base.html' %}   

{% block content %}

{% if error %}
    {{ error }}
    <br/>
    <br/>
{% endif %}

<h1>Create</h1>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %} 
    Statement:<br/>
    <input type="text" name="statement_text" />
    <br/><br/> 
    Hashtag:<br/>
    <input type="text" name="hashtag_text" />
    <br/>
    Icon:<br/>
    <input type="file" name="icon" />
    <br/>
    Disagree Icon:<br/>
    <input type="file" name="icon_disagree" />
    <br/>
    Agree Icon:<br/>
    <input type="file" name="icon_agree" />
    <br/>
    <br/> 
    <input class="btn btn-primary" type="submit" value="Add Statement" />
</form>
{% endblock %}