{% extends 'base.html' %}   

{% block content %}

{% load static %}


<h1>{{ statement.statement_text }}</h1>
<img src="{{ statement.image }}" class="img-fluid" />

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- <a href="javascript:{document.getElementById('respond0').submit()}"><button class="btn btn-primary btn-lg btn-block"><ion-icon name="caret-up-outline"></ion-icon> Agree</button></a> -->

<form id="respondDisagree" method="POST" action="{% url 'giveResponseDisagree' statement.id %}">
    {% csrf_token %}
    <input type="hidden">
</form>

<form id="respondAgree" method="POST" action="{% url 'giveResponseAgree' statement.id %}">
    {% csrf_token %}
    <input type="hidden">
</form> 



<link rel="stylesheet" type="text/css" href="{% static 'admin/css/swipe.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {

var animating = false;
var cardsCounter = 0;
var numOfCards = 6;
var decisionVal = 80;
var pullDeltaX = 0;
var deg = 0;
var $card, $cardReject, $cardLike;

function pullChange() {
  animating = true;
  deg = pullDeltaX / 10;
  $card.css("transform", "translateX("+ pullDeltaX +"px) rotate("+ deg +"deg)");

  var opacity = pullDeltaX / 100;
  var rejectOpacity = (opacity >= 0) ? 0 : Math.abs(opacity);
  var likeOpacity = (opacity <= 0) ? 0 : opacity;
  $cardReject.css("opacity", rejectOpacity);
  $cardLike.css("opacity", likeOpacity);
};

function release() {

  if (pullDeltaX >= decisionVal) {
    $card.addClass("to-right");
    document.getElementById("respondAgree").submit();
  } else if (pullDeltaX <= -decisionVal) {
    $card.addClass("to-left");
    document.getElementById("respondDisagree").submit();
  }

  if (Math.abs(pullDeltaX) >= decisionVal) {
    $card.addClass("inactive");

    setTimeout(function() {
      $card.addClass("below").removeClass("inactive to-left to-right");
      cardsCounter++;
      if (cardsCounter === numOfCards) {
        cardsCounter = 0;
        $(".demo__card").removeClass("below");
      }
    }, 300);
  }

  if (Math.abs(pullDeltaX) < decisionVal) {
    $card.addClass("reset");
  }

  setTimeout(function() {
    $card.attr("style", "").removeClass("reset")
      .find(".demo__card__choice").attr("style", "");

    pullDeltaX = 0;
    animating = false;
  }, 300);
  
};

$(document).on("mousedown touchstart", ".demo__card:not(.inactive)", function(e) {
  if (animating) return;

  $card = $(this);
  $cardReject = $(".demo__card__choice.m--reject", $card);
  $cardLike = $(".demo__card__choice.m--like", $card);
  var startX =  e.pageX || e.originalEvent.touches[0].pageX;

  $(document).on("mousemove touchmove", function(e) {
    var x = e.pageX || e.originalEvent.touches[0].pageX;
    pullDeltaX = (x - startX);
    if (!pullDeltaX) return;
    pullChange();
  });

  $(document).on("mouseup touchend", function() {
    $(document).off("mousemove touchmove mouseup touchend");
    if (!pullDeltaX) return; // prevents from rapid click events
    release();
  });


});

});
</script>

<h4>



<div class="demo">
    <header class="demo__header"></header>
    <div class="demo__content">
      <div class="demo__card-cont">
        <div class="demo__card">
          <div class="demo__card__top brown">              
              <style>
                .demo__card__img {
                    overflow: hidden;
                    width: 10rem;
                    height: 10rem;
                    margin: 0 auto 1.5rem;
                    border-radius: 50%;
                    border: 0.5rem solid #fff;
                    background-image: url("{{ statement.image.url }}");
                    background-size: cover;
                }
                </style>
                <img src="{{ statement.image }}" class="img-fluid" />
                <div class="demo__card__img">
                        <img src="{{ statement.image.url }}" class="img-fluid" />

                </div>
            <p class="demo__card__name">{{ statement.statement_text }}</p>
          </div>
          <div class="demo__card__btm">
            <p class="demo__card__we"></p>
          </div>
          <div class="demo__card__choice m--reject"></div>
          <div class="demo__card__choice m--like"></div>
          <div class="demo__card__drag"></div>
        </div>
      </div>
      <p class="demo__tip">Swipe left or right </p>
    </div>
  </div>

  


{% endblock %}


<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script language="javascript" type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
